<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778084020814-j6381ft6hhd0jfev6bo12bueu9novtim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778084020814-j6381ft6hhd0jfev6bo12bueu9novtim</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778084020814-bcfefns7ig9mnrbi0fs9vlca5tfg3p7s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1hlKiIkoXwZkbPWEN9sAa-iGddkmAWxI</string>
	<key>GCM_SENDER_ID</key>
	<string>778084020814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.get.instacover</string>
	<key>PROJECT_ID</key>
	<string>instacover-1575289763014</string>
	<key>STORAGE_BUCKET</key>
	<string>instacover-1575289763014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778084020814:ios:cc2cebd723d80a4d1ec91f</string>
	<key>DATABASE_URL</key>
	<string>https://instacover-1575289763014.firebaseio.com</string>
</dict>
</plist>